[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/xinput set-prop 'SynPS/2 Synaptics TouchPad' 'Device Enabled' 0
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=disable-finger-touch
Name=disable-finger-touch
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
