[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/bin/xinput set-prop 'Raydium Corporation Raydium Touch System' 'Device Enabled' 0
GenericName[en_US]=
GenericName=
MimeType=
Name[en_US]=disable-touchscreen
Name=disable-touchscreen
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
