[Desktop Entry]
Version=1.0
Name=QuPath
GenericName=QuPath
X-GNOME-FullName=QuPath
Comment=Scientific Image Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/home/eturkes/Documents/apps/QuPath/bin/QuPath %F
TryExec=/home/eturkes/Documents/apps/QuPath/bin/QuPath
Terminal=false
StartupNotify=true
MimeType=image/*;
Icon=/home/eturkes/Documents/apps/QuPath/lib/QuPath.png
